@import "../../vars.css";

.item{
    height: 50px;
    margin:5px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-right: 10px;
    font-family: var(--font-inria);
    font-weight: bold;
}

.author{
    font-family: var(--font-inria);
}