@import "../../vars.css";

.item{
    height: 50px;
    margin:5px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background-repeat: no-repeat;
}

.item:hover{
    background-image: linear-gradient(90deg, rgb(210, 186, 177) 0%, rgba(65, 55, 51, 0) 100%);
}

.title{
    margin-right: 10px;
    font-family: var(--font-inria);
    font-weight: bold;
}

.author{
    font-family: var(--font-inria);
}